body {
    background-color: #111827;
    color: #fff;
    height: 100%;
}

section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

img {
    border-radius: 5px;
    width: 600px; 
    height: 400px;
}

.content {
    margin: 30px 0px;
}

button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.primary {
    background-color: #18e990;
}

.secundary {
    background-color: #c31818;
    color: #fff;
}

.input {
    border: none;
    padding: 16px 2px;
    margin-right: 10px;
    border-radius: 5px;
}